<a href="https://colab.research.google.com/github/mosi15/OOP-lab-work-DIU-/blob/master/week1%20week2_OOP_ll_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

My Python First Program "Print HeLLo World"¶

In [ ]:
print("Hello World")

Hello World


Variables and Assignment Statements

In [ ]:
x=7
y=3
print(x+y)

10

In [ ]:
total = x+y
print(total)

10

In [ ]:

name = "Adam"
name2 = "Eva"
print(name , name2)

Adam Eva

Types

In [ ]:
x =10
type(x)

In [ ]:
type(10.5)

float

In [ ]:
type(name)

str

Arithmetic operators

In [ ]:
multiplication = 7*4
print(multiplication)

28

In [ ]:
add = 10+15
print(add)

25

In [ ]:
sub = 40-8
print(sub)

32

In [ ]:
Exponentiation = 2**10
print(Exponentiation)

1024

In [ ]:
True_Division = 7/4
print(True_Division)

1.75

In [ ]:
Floor_Division = 7//4
print(Floor_Division)

1

In [ ]:
remainder = 15%7
print(remainder)

1

Relational Operators

In [ ]:
x = 105
y = 100

In [ ]:
x>y

True

In [ ]:
x<y

False

In [ ]:
x==y

False

In [ ]:
x!=y

True

In [ ]:
x>=y

True

In [ ]:
x<=y

False

Chaining Comparisons

In [ ]:
x = 3
y = 10

In [ ]:
1 <= x <= 5

True

In [ ]:
1 <= y <= 5

False


Print Function


Printing a Comma-Separated List of Items

In [ ]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

In [ ]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

In [ ]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

The following table shows some common escape sequences.Picture1.png

Ignoring a Line Break in a Long String

In [ ]:
print('this is a longer string, so we \
 split it over two lines')

this is a longer string, so we  split it over two lines

In [ ]:
print('Sum is', 7 + 3)

Sum is 10

In [ ]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

In [ ]:
print('Display "hi" in quotes')

In [ ]:
print('Display \'hi\' in quotes')   #using the \' escape sequence:

Display 'hi' in quotes

In [ ]:
print("Display the name O'Brien")

Display the name O'Brien

In [ ]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

In [ ]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

In [ ]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

In [ ]:
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [ ]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines'

In [ ]:
print("""This is a lengthy
multiline string containing
a few lines \
of text""")

This is a lengthy
multiline string containing
a few lines of text

Precision Handling in Python

In [ ]:
a = 3.4536475856

In [ ]:
# using "%" to print value till 2 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.2f' %a)

The value of number till 2 decimal place(using %) is : 3.45

In [ ]:
# using "%" to print value till 4 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.4f' %a)

The value of number till 2 decimal place(using %) is : 3.4536

Getting Input from the User

In [ ]:
name = input("What's your name? ")

In [ ]:
print(name)

In [ ]:
total = value1 + value2
print(total)

In [ ]:
type(total) #python takes input as a string we have to type cast the input

int

In [ ]:
total = int(value1) + int(value2) #type casting to int format
print(total)

70

Getting an Integer from the User by casting the input format

In [ ]:
another_value = int(input('Enter another integer: '))

Enter another integer: 10

In [ ]:
print(another_value)

10

Taking multiple input from the user

In [ ]:
a, b = input().split()

10 20

In [ ]:
print(a , b)

10 20

In [ ]:
print(type(a))

<class 'str'>

Solving Problem¶
Determining the Minimum and Maximum with Built-In Functions min and max

In [ ]:
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

Enter first integer: 20
Enter second integer: 50
Enter third integer: 100

In [ ]:
min(number1,number2,number3)

20

In [ ]:
max(number1,number2,number3)

100


IF statement

In [ ]:
grade = 85
if grade>=60:
  print("passed")

passed


If else statement

In [ ]:
grade =85
if grade>=60:
  print("passed")
else:
  print("fail")

passed

In [ ]:
grade = 77

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

C

While Statement

In [ ]:
number = 1

while (number<10):
  print(number, end=" ") #print in same line with space using end =" "
  number+=1

1 2 3 4 5 6 7 8 9

In [ ]:
product = 3

while product<=50:
  product = product*3

In [ ]:
print(product)

81

For statement

In [ ]:
for character in "programming":
  print(character, end=" ")

p r o g r a m m i n g

In [ ]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

In [ ]:

for number in range(5,10):
  print(number, end=" ")

5 6 7 8 9

In [ ]:
for number in range(0,10,2):
  print(number, end=" ")

0 2 4 6 8

In [ ]:
for number in range(10,0,-2):
  print(number, end=" ")

10 8 6 4 2

In [ ]:
number =  int(input())

7

In [ ]:
for i in range(1,11):
  print(number,"X",i,"=",number*i)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [ ]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [ ]:
for number in range(10):
  if  number==5:
    break
  print(number, end=" ")

0 1 2 3 4

In [ ]:
for number in range(10):
  if  number==5:
    continue
  print(number, end=" ")

0 1 2 3 4 6 7 8 9